<app-nav></app-nav>
<h1>{{ 'home_title' | skyAppResources }}</h1>

<p>Welcome to the SKY UX template.  This template is dynamically cloned anytime `skyux new` is run.  For more information about SKY UX, visit the README.</p>

<sky-alert alertType="info">
  You've just taken your first step into a larger world.
</sky-alert>

<p>
  <a href="https://github.com/blackbaud/skyux-cli" target="_blank" rel="noopener noreferrer">
    Learn more about SKY UX
  </a>
<p>

  <sky-tile (settingsClick)="tileSettingsClick()">
  <sky-tile-title>
    Accessibility <abbr title="end to end">e2e</abbr> test examples
  </sky-tile-title>
  <sky-tile-content>
    <sky-tile-content-section>
      <h2 class="sky-subsection-heading">Passing examples</h2>
      <p>These examples will pass the 'label' accessibility rule</p>
      <div>
        <label>First name:<br>
          <input type="text" name="firstname"></label>
      </div>
      <div>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname">
      </div>
      <h2 class="sky-subsection-heading">Failing examples</h2>
      <p>This example will fail the 'label' accessibility rule</p>
      <p class="sky-deemphasized">Uncomment this section to see error when running 'skyux e2e'</p>
      <!-- <div>
        <label>First name:</label><br>
        <input type="text" id="thefirstname">
      </div> -->
    </sky-tile-content-section>
  </sky-tile-content>
</sky-tile>
